* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}

:root {
    --primary-bg-color: #14120b;
    --primary-color: #edecec;

}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    width: 100%;
    margin: 0;
    height: 100vh;
    font-family: "Cursor Gothic", Helvetica, Arial, sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}



.header {
    /* padding: 10px 10px; */
    position: static;
    /* background: red; */

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* width: inherit; */
}

.nav-link {
    color: var(--primary-color);
}

.logo-icon {
    width: 100px;
}

.nav-item {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.nav-item li {
    font-size: 14px;
    font-weight: 400px;
    line-height: 1;

    color: var(--primary-color) !important;
}

.nav-item li a {
    text-decoration: none;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 10px;

}

.btn-sign {
    height: 27px;
    border: 1px solid #edecec;
    border-radius: 3.40282e38px;
    background: none;
    color: var(--primary-color);
    padding: 6px 10px 7px;
    box-shadow: none;
    cursor: pointer;
    font-weight: 400px;
    line-height: 1;
    font-size: 14px;
    font-family: "Cursor Gothic", Helvetica, Arial, sans-serif;
}

.btn-download {
    height: 27px;
    border: 1px solid #edecec;
    border-radius: 3.40282e38px;
    background: var(--primary-color);
    cursor: pointer;
    color: var(--primary-bg-color);
    padding: 6px 10px 7px;
    box-shadow: none;
    font-weight: 400px;
    line-height: 1;
    font-size: 14px;
    font-family: "Cursor Gothic", Helvetica, Arial, sans-serif;
}

.btn-download img {
    width: 14px;
    height: 14px;
}

.main-wrap {

    margin-top: 40px;
}

.hero-section {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.hero-title {
    font-size: 26px;
    letter-spacing: -.0125em;
    margin-bottom: 20px;
    font-weight: 400;
}

#btn-linux {
    height: 43.27px;
    font-size: 16px;
    padding: 0 20px;
}

.img-container {
    padding-top: 20px;
    margin: 20px 0;
}



.img-hero {
    min-height: 680px;
    width: 100%;
    border-radius: 6px;
}

.trust-container {
    text-align: center;
}

.trust-container h2 {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
}

.trust-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.brand-container {
    padding: 20px;
    width: 100%;
    background-color: #1b1913;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
    /* border: 1px solid #1b1913; */
}

.brand-container svg {
    height: 40px;
    width: 61.70px;

}

.linear {
    width: 88px !important;

}

.dataDog {
    width: 93.33px !important
}

.nvidia {
    width: 100px !important;
}

.ramp {
    width: 81.88px !important
}

.feature-container {

    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.agent-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

}

.content-wrap h3 {
    font-size: 22px;
    font-weight: 400;
}

.content-wrap p {
    font-size: 22px;
    font-weight: 400;
    color: #64635f
}

.img-container-agent {
    /* flex: 1; */
    height: 700px;
    width: 650px;
    width: 70%;
    /* object-fit: cover; */

}

.img-container-agent img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.agent-link {
    color: #f54e00;
    font-size: 16px;
}

.feature-card-section {
    margin: 40px auto;
    display: grid;
}

.card-heading {
    text-align: center;
    padding: 30px 0;
}

.card-heading h1 {
    font-size: 36px;
    font-weight: 500;
}

.card-container {
    display: grid;
    margin-top: 30px;
    padding: 30px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


#card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 0;
}

.card-para {
    font-size: 16;
    font-weight: 500;
    letter-spacing: 0.005em;
    line-height: 1.3;
}

.featured-intro {
    width: 100%;
    padding: 20px 0 0 0;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.intro-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}

.feature-img {
    border-radius: 4px;
}

.intro-subtitle {
    font-size: 14px;
    /* color: #848f86 */
    color: #8f8c89
}

.testimonial-section {
    margin: 40px 0 0 0;
    padding: 20px;

}


.testimonial-card {
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.test-heading {
    font-size: 16px;
}

#font {
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.test-img {
    height: 300px;
    min-width: 386px;
}

.test-img img {
    height: 100%;
    width: 100%;
}

.changelog-container {
    margin: 40px 0 40px 0;
    padding: 20px;
}

#log-card {
    grid-template-columns: repeat(4, 1fr);
}

.log-date {
    border: 1px solid #edecec;
    border-radius: 16px;
    padding: 3px 10px;
    margin-right: 10px;
}

#log-card-wrap {
    align-items: flex-start;
    margin-bottom: 0px;
}

.about-section {
    margin: 40px 0;
    padding: 20px
}

.about-section h2 {
    font-size: 36px;
    font-weight: 500;
    padding: 20px 0;
}

.img-about-container {
    margin: 40px auto;

}

#highlight {

    /* justify-content: space-between; */
    gap: 20px;
    width: 100% !important;
    margin: 0;
    align-items: flex-start;
    gap: 20px;
    /* justify-content: space-around; */
    /* padding: 40px 0px; */
}

.highliht-card-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 20px;
}

.highlight-card {
    background-color: #201e18;
    border-radius: 4px;

    padding: 10px;
    border: 1px solid #201e18;
    padding-right: 70px;
}

.recent-heading {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.005em;

}

.high-subtitle {
    font-size: 16px;
    color: #8f8c89;
    margin-bottom: 20px;
    font-weight: 500;
}

.high-title {
    padding: 10px 0;
    font-weight: 500px;
}

.final-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 40px 0;
}

.final-section h2 {
    font-size: 72px;
    font-weight: 500;
}

.footer-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 40px 0;
    margin-bottom: 40px;
}

.footer-link {
    color: #edecec;
    font-size: 14px;
    font-weight: 600px;
}

.footer-head {
    color: #999895;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certified {
    font-size: 14px;
    color: #999895;
    letter-spacing: 0.01em;
}